html{
	font-family:Arial;
	background-color: #fff;
	box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
	}

body{      
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
    }
.hamBar{
    padding-right: 21px;
    display: none;
    align-items: center;
    text-decoration: none;
    color: #376C83;
    z-index: 10;
}
.top{
    height: 112px;
    /* color: #FFFFFF; */
    background-color: #FFFFFF;
    display: flex;
    /* padding-top: 28px;
    padding-left: 93px; */
    margin: 0;
 }
.midum_pic{
    display: none;
}
.small_pic{
    display: none;
}
.title_pic{
    padding-left: 34px;
    padding-top: 24px;
}
.img{
    display: block;
    max-width: 100%;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 47px;
    height: 60px;
    /* position: fixed; */
}
.nav-list {
    display: flex;
    align-items: flex-start;
    /* padding-left: 93px; */
    margin: 0;
    padding: 0;
    
}
.nav-list-item {
    list-style: none;
    /* padding: 15px; */

}
.nav-list-item-link {
    width: 126px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: block; */
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    text-align: left;
    font-family: Arial;
    text-align: center;
    font-weight: 400;
}
nav ul li a:hover {
    color: white;
    /* width: 126px;
    height: 60px; */
    /* margin: 0 5px 0 5px; */
    background-color: #85b8b9;
}
#cilcking{
    /* box-shadow: 0 5px #376C83; */
    /* padding-bottom:1px; */
    border-bottom:5px #376C83 solid;
    
}
#burger{
    display: none;
}
.login{
    font-size: 24px;
    color: #000000;
    padding: 15px;
    display: none;
    align-items: end;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: auto;
    height: 1839px;
    padding: 95px 0 0 0;
}

.word_title{
    font-size: 36px;
    height: 36px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0;
}
.word_date{
    font-size: 20px;
    color: #858585;
    padding: 0;
}
.source{
    display: flex;
    margin: 16px 0 54px 601px;
    font-size: 14px;
    color: #858585;
    width: 277px;
    height: 17px;
}
.maincontent1{
font-size: 16px;
word-wrap:break-word;
width: 878px;
height: 97px;
margin-top: 0;
margin-bottom: 27px;
line-height: 1.6;
}
.maincontent2{
    font-size: 16px;
    word-wrap:break-word;
    width: 878px;
    height: 101px;
    margin-bottom: 63px;
    line-height: 1.6;
    }
.writer{
    word-wrap:break-word;
    line-height: 22px;
    margin-bottom: 87px;
}
.news{
    margin: 0;
    padding: 0;
    height: 1176px;
}
.icon{
    display: flex;
    width: 24px;
    height: 24px;
    margin-right: 13px;
    margin-bottom: 2px;
}
.line{
    width: 878px;
    height: 1px;
    background-color: #000000;
}
.more{
    display: flex;
    flex-direction: column;
    margin-top: 202px;
    height: 503px;
}
.word_more{
    font-size: 36px;
    height: 36px;
    margin-top: 85px;
    margin-bottom: 10px;
    padding: 0;
}
.title_more{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.bar_more{
    width: 227px;
    height: 5px;
    margin-top: 25px;
    background-color: #376C83;
}
.morenews{
    margin-top: 41px;
    display: flex;
}
.news1{
    width: 255px;
    height: 315px;
    background-color: #FFFFFF;
    margin-right: 40px;
    margin-bottom: 41px
}
.news2{
    width: 255px;
    height: 315px;
    background-color: #FFFFFF;
    margin-bottom: 41px
}
.word_title{
    font-size: 30px;
    margin-bottom: 19px;
}

.word_morenews{
    font-size: 17px;
    color: #376C83;
    width: 205px;
    margin-left: 25px;
    padding: 0;
    margin-top: 11px;
}
.subscribe{
    height: 380px;
    background-color: #376C83;
    display: flex;
    flex-direction: column;
	align-items:center;
    padding: 107px 0 0 0;
}
.title_subscribe{
    margin-bottom: 58px;
    display: flex;
    flex-direction: column;
	align-items:center;
}
.text_subscribe{
    width: 390px;
    height: 41px;
    font-size:30px;
    color:#F5DE6F;
    margin-bottom: 14px;
}
.bar_subscribe{
    width: 531px;
    height: 5px;
    background-color: #FFFFFF;
}

.email_rwd{
    font-size: 16px ;
     color: #DADADA;
      border-color: #DADADA;
       background:transparent;
        padding: 8px 441px 8px 17px;
    }
.email ::-webkit-input-placeholder { color: #DADADA; }
.email input::-moz-placeholder { color: #DADADA; }
.email input::-moz-placeholder{color:#DADADA;}
.email:-ms-input-placeholder{color: #DADADA;}
.email{

    margin: 0 0 48px 0
}

.submit{
    font-size: 18px; color: #376C83; background-color: #FFFFFF; border: 0; padding: 9px 35px 9px 35px; margin: 0;
}
.down{
    height: 197px;
    background-color: #E8E8E8;
    margin: 0;
    padding: 0;
  }

.bottom_all{
    display: flex;
    justify-content: center;
}
.small_goai{
    margin-top: 57px;
}
.bottom_word {
    display: flex;
}
.bottom_word > span{
    container-type: inline-size;

    margin-top: 57px;

}
.gmail{
    display: flex;
    align-items: center;
    height: 19px;
}
.address{
    height: 19px;
    font-size: 14px;
}
.gmail_word{
    margin: 3px 0 0 0 ;
    font-size: 14px;
}
.small_info_bottom{
    width: 585px;
    height: 73px;
    
}
.small_group{
    display: flex;
    justify-content: center;
}
.down_line{
    margin: 118px 0 0 0 ;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.small_icon{
    width: 18px;
    height: 18px;
    margin-left: 6px;
}
.right_icon{
    display: flex;
    height: 25px;
    font-size: 12px;
}
.black_line{
    height: 1px;
    background-color: #000000;
    width: 75vw;;
    margin: 0 0 8px 0;
    padding: 0;
    display: flex;
}
.word_footer{
    white-space:nowrap;
    margin: 0;
    padding: 0;

    height: 16px;
    font-size: 12px
    
}
  .info_bottom{
    padding-left: 56px;
  }

  #gg{
    width: 16px;
    height: 16px;
    margin-right: 10px;
    margin-top: 3px;
  }

  .more{
    width: 131px;
    height: 42px;
    /* width: 89px;
    height: 22px; */
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .more a:hover{
    width: 131px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #376C83;
    color: #FFFFFF;
  }

  #moall{
    font-size: 16px;
  }

  #mid_blue{
    display: none;
  }

  .small_down{
    display: none;
  }

  #small_date{
    display: none;
  }

  @media screen and (max-width:960px){

    html{
	font-family:Arial;
	background-color: #fff;
	box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
	}

    body{      
    width: 960px;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
    }
    .hamBar{
    padding-right: 21px;
    display: none;
    align-items: center;
    text-decoration: none;
    color: #376C83;
    z-index: 10;
    }
    .top{
    height: 83px;
    /* color: #FFFFFF; */
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    
    /* padding-top: 28px;
    padding-left: 93px; */
    }
    .normal_pic{
        display: none;
    }
    .midum_pic{
        display: flex;
        justify-items: center
    }
    .small_pic{
        display: none;
    }
    .title_pic{
        padding-left: 34px;
        padding-top: 24px;
    }
    .img{
        display: block;
        max-width: 100%;
    }
    .nav{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 18px;
        margin-left: 46px;
        height: 60px;
        /* position: fixed; */
    }
    .nav-list {
        display: flex;
        /* padding-left: 93px; */
        margin: 0;
        padding: 0;
        
    }
    .nav-list-item {
        list-style: none;
        /* padding: 15px; */

    }
    .nav-list-item-link {
        width: 110px;
        height: 60px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        /* display: block; */
        text-decoration: none;
        color: #000000;
        font-size: 20px;
        text-align: left;
        font-family: Arial;
        text-align: center;
        font-weight: 400;
    }
    nav ul li a:hover {
        color: white;
        /* width: 126px;
        height: 60px; */
        /* margin: 0 5px 0 5px; */
        background-color: #85b8b9;
    }
    #cilcking{
        /* box-shadow: 0 5px #376C83; */
        /* padding-bottom:1px; */
        border-bottom:5px #376C83 solid;
        
    }
    #burger{
        display: none;
    }
    .login{
        font-size: 24px;
        color: #000000;
        padding: 15px;
        display: none;
        align-items: end;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-image: url('img/background.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        width: auto;
        height: 1831px;
        padding: 95px 0 0 0;
    }
    .img_news{
        width: 818px;
    }
    .source{
        margin-left: 544px;
    }
    .maincontent1{
        width: 818px;
    }
    .maincontent2{
        width: 818px;
    }
    .news{
        margin-left: 71px
    }
    .line{
        width: 818px;
    }
    .more{
        display: flex;
        margin-left: 407px;
    }
    .black_line{
        width: 671px;
    }
 }
 @media screen and (max-device-width:393px){
    /* html {
      background-color: #376C83;
      box-sizing: border-box;
    } */

    body{
        width: 393px;
        height: 1775px;
    }
    .bg_all{
      /* background-color: #C99101; */
      background-image: url(img/small_bg.png);
      width: 393px;
    }

    .bg {
      width: 393px;
      /* background-color: #376C83; */
      /* background-color: #000000; */
    }

    .hamBar{
      display: flex;
      margin-left: 61px;
    }

    .title_pic{
      /* padding-left: 34px;
      padding-top: 24px; */
      padding: 0%;
    }

    .midum_pic{
      display: none;
    }

    .top{
      height: 83px;
      display: flex;
      align-items: center;
      padding-left: 110px;
    }

    .nav{
      width: 393px;
      height: 507px;
      /* background-color: #C99101; */
      background-color: #FFFFFF;
      z-index: 5;
      /* display: flex;
      align-items: center;
      justify-content: center;
      align-items: center; */
      display: none;
      /* transform:translateY(100%); */
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      /* bottom: 0; */
    }

    .nav-list{
      flex-direction: column;
      margin-top: 57px;
      box-shadow : 0px -2px 5px -2px #aaa;
    }

    .nav-list-item-link {
      width: 393px;
      height: 75px;
      font-size: 16px;
      /* display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #000000;
      text-align: left;
      font-family: Arial;
      text-align: center;
      font-weight: 400; */
    }

    #cilcking{
      /* box-shadow: 0 5px #376C83; */
      /* padding-bottom:1px; */
      border: 0;
      /* background-color: #FFFFFF; */
      /* box-shadow : 0px -2px 5px -2px #aaa; */
      border-left:5px #376C83 solid;
      
    }
    .small_pic{
      display: flex;
      width: 173px;
      height: 55px;
    }
    
    label{

        display: block;
    }
    #burger:checked + nav{
        display:block;
    }
    .content{
        width: 393px;
        height: 1600px;
        padding: 32px 0 0 0;
    }
    .word_title{
        font-size: 20px;
        margin:0 0 8px 0;
    }
    .word_date{
        font-size: 14px;
        
    }
    .news{
        margin-left: 26px;
        width: 367px;
        height: 1080px;
    }
    
    
    .img_news{
        width: 340px;
        height: 217px;
    }
    .source{
        font-size: 0.75%;
        width: 235px;
        margin: 8px 0 33px 105px;
    }
    .maincontent1{
        font-size: 14px;
        width: 335px;
        height: 195px;
    }
    .maincontent2{
        font-size: 14px;
        width: 335px;
        height: 176px;
    }
    .writer{
        font-size: 10px;
    }
    .line{
        width: 316px;
        margin-top: 22px;
    }
    
    .news1{
        width: 319px;
        height: 114px;
        display: flex;
        margin: 0 0 5px 0 ;
    }
    .news2{
        width: 319px;
        height: 114px;
        display: flex;
        margin: 0 0 15px 0;
    }
    .morenews{
        display: flex;
        flex-direction: column;
    }
    .title_more{
        width: 113px;
        height: 33px;
        margin: 0;
        padding: 0;
    }
    .more{
        margin: 0 0 0 29px;
        width: 319px;
        height: 481px;
        border: none;
    }
    .title_more{
        width: 113px;
        margin: 0;
        padding: 0;
    }
    .word_more{
        font-size: 20px;
        margin: 20px 0 0 0;
        padding: 0%;
        width: 80px;
        height: 27px;
    }
    .bar_more{
        width: 113px;
        height: 5px;
    }
    .word_morenews{
        font-size: 16px;
        margin-left: 12px;
        width: 193px;
    }
    .img_more{
        width: 90px;
        height: 90px;
        margin: 12px 0 0 12px;
    }
    .watchmore{
        width: 91px;
        height: 32px;
    }
    .subscribe{
        width: 393px;
        height: 226px;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .title_subscribe{
        margin-bottom: 25px;
        margin-top: 43px;
    }
    .text_subscribe{
        font-size: 16px;
        width: 208px;
        height: 22px;

    }
    .bar_subscribe{
        width: 255px;
        height: 2px;
    }
    .email_rwd{
        padding: 8px 50px 8px 0px;
        font-size: 14px;
    }
    .email{
        margin: 0 0 15px 0;
    }
    .submit{
        font-size: 16px;
        padding:  10px 23px 10px 23px ;
    }
    .down{
        width: 393px;
        height: 246px;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .small_goai{
        margin: 19px 0 9px 0px;
        width: 168px;
        height: 54px;
    }
    .bottom_word{
        display: flex;
        justify-content: center;
        width:0px;
        height: 0px;
        margin: 0 0 0 88px;
        padding: 0;
    }
    .bottom_all{
        display: flex;
        flex-direction: column;
    }
    .info_bottom{
        padding: 0;
        width: 217px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .gmail_word{
        font-size: 10px;
    }
    .address{
        font-size: 10px;
        word-wrap: break-word;
        width: 217px;
        text-align:center;
        padding: 0;
    }
    .small_info_bottom{
        width:217px;
        height: 80px;
    }
    .small_group{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .down_line{
        display: flex;
        align-items: center;
        margin-top: 95px;
    }
    .black_line{
        width: 346px;
    }
    .bottom_word > span{
        container-type: normal;
        margin: 0 ;
        padding: 0;
    }
}