html{
    background-color: #F5F5F5;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    margin-left: 150px;
}

.use{    /*background-color: #ccdcff;/**/
    position: absolute; z-index: 1;

    height: 49px;
    font-family: 'Noto Sans'; font-style: normal; font-weight: 400; font-size: 36px; line-height: 49px; color: #FFFFFF;
    text-align: center;

    justify-content: center; /* 區塊水平置中 */
    width: 100%; /* 設定寬度為父元素的寬度 */

    margin-top: 61px;
}
.use-service{
    color: #000000;
}

.use-line{
    height: 5px; width: 228px; background: #00B1C4;
    margin: 0 auto; /* 將左右 margin 設為 auto */
}

@media(max-width: 961px){
    
    .nav{
        margin-left: 0;
    }
}


@media (max-width: 394px){ /*手機*/
    html{
        background-color: #F5F5F5;
        box-sizing: border-box;
    }
    
    body{
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .use{    /*background-color: #ccdcff;/**/
        position: absolute; z-index: 1;
    
        height: 33px;
        font-family: 'Noto Sans'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 27px; color:  #000000;
        text-align: center;
    
        justify-content: center; /* 區塊水平置中 */
        width: 393px; /* 設定寬度為父元素的寬度 */
    
        margin-top: 30px;
    }
    
    .use-line{
        height: 3px; width: 113px; background: #00B1C4;
        margin: 0 auto; /* 將左右 margin 設為 auto */
    }



    .use-contact-us{
        color:  #FFFFFF;
    }
    .use-line-contact-us{
        background: #F5DE6F;
    }
}