html {
    background-color: #F5F5F5;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* padding-left: 160px;
    padding-right: 160px; */
  }
  .bg {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    color: #F5F5F5;
    z-index: -1;
  }

  .hamBar{
    padding-right: 21px;
    display: none;
    align-items: center;
    text-decoration: none;
    color: #376C83;
    z-index: 10;
  }

  .top{
    height: 112px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    /* padding-top: 28px;
    padding-left: 93px; */
  }

  .midum_pic{
    display: none;
  }

  .small_pic{
    display: none;
  }

  .title_pic{
    padding-left: 34px;
    padding-top: 24px;
  }

  .img{
    display: block;
    max-width: 100%;
  }

  .nav{
    align-items: end;
    /* position: fixed; */
  }

  .nav-list {
    display: flex;
    /* padding-left: 93px; */
    margin: 0;
    padding: 0;
    
  }
  
  .nav-list-item {
    list-style: none;
    /* padding: 15px; */

  }
  
  .nav-list-item-link {
    width: 126px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: block; */
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    text-align: left;
    font-family: Arial;
    text-align: center;
    font-weight: 400;
  }

  nav ul li a:hover {
    color: white;
    /* width: 126px;
    height: 60px; */
    /* margin: 0 5px 0 5px; */
    background-color: #85b8b9;
  }

  #cilcking{
    /* box-shadow: 0 5px #376C83; */
    /* padding-bottom:1px; */
    border-bottom:5px #376C83 solid;
    
  }

  #burger{
    display: none;
  }

  .login{
    font-size: 24px;
    color: #000000;
    padding: 15px;
    display: flex;
    align-items: end;
  }

  .carousel-control-prev{
    justify-content: left;
  }

  .carousel-control-prev-icon{
    background-image: url(img/🦆\ icon\ _arrow\ ios\ back_.png);
    width: 84.31px;
    height: 82.16px;

  }
  
  .carousel-control-next{
    justify-content: right;
  }

  .carousel-control-next-icon{
    background-image: url(img/🦆\ icon\ _arrow\ ios\ forward_.png);
    width: 84.31px;
    height: 82.16px;
  }

  .pic_introduce{
    background-image: url(img/intr.png);
    width: auto;
    height: 752px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }

  .gen{
    color: #000000;
  }

  p{
    margin: 0;
  }

  .upper_half{
    font-size: 22px;
    text-align: center;
    padding-bottom: 37px;
  }

  .lower_half{
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 37px;
  }

  #plug_intr{
    font-size: 30px;
    color: #C99101;
    font-weight: 600;
    align-content: center;
    padding-bottom: 10px;
  }
  
  .blue{
    /* background-image: url(img/blue_rect.png); */
    height: 251px;
    width: 1440px;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
  }

  .rect{
    width: 911px;
    height: 111px;
    display: flex;
    justify-content: space-between;
  }

  .square{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .word{
    padding-top: 28px;
  }

  .serve_word{
    width: 227px;
    height: 64px;
    color: #000000;
    font-size: 36px;
    padding-bottom: 10px;
    font-weight: 400;
    margin-bottom: 59px;

  }

  .fix{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blue_line{
    width: 227px;
    height: 5px;
    background-color: #376C83;
  }

  .part2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 203px;
  }

  .four_item{
    display: flex;
    width: 1151px;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }

  .part{
    width: 255px;
    height: 378px;
    
  }

  .blue_title{
    font-size: 24px;
    color: #376C83;
  }

  .small_word{
    font-size: 12px;
    color: #000000;
  }

  .guest_word{
    width: 337px;
    height: 64px;
    color: #000000;
    font-size: 36px;
    padding-bottom: 10px;
    font-weight: 400;
  }

  #change{
    width: 337px;
  }

  .plug-in_development{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 136px;
  }

  .digital_title{
    font-size: 32px;
  }

  .process{
    display: flex;
  }

  .process_text{
    padding-top: 92px;
  }

  .left_bottom{
    display: flex;
    margin-top: 30px;
  }

  .title_1{
    font-size: 20px;
    color: #376C83;
  }

  .text_1{
    font-size: 18px;
  }

  .left_word{
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 11px;
  }

  .robot{
    z-index: 2;
  }

  .blue_and_pic{
    z-index: 1;
    margin-top: -70px;
    position: relative;
  }

  #part2{
    position: absolute;
    z-index: 10;
    margin-left: 200px;
    padding: 0;
    color: #FFFFFF;
    /* width: 499px; */
    /* margin-top: -200px; */
  }

  #change_white{
    color: #FFFFFF;
  }

  .video{
    /* padding-top: 83px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    justify-items: center; */
    align-items: center;
    padding-top: 83px;
  }

  .yt_video{
    width: 774px;
    height: 489px;
    background-color: #000000;
    margin-top: 45px;
  }

  .serve_word{
    padding-bottom: 61px;
  }

  .news{
    background-image: url(img/new.png);
    height: 664px;
    margin-top: 83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
  .connect_news{
    width: 1180px;
    display: flex;
    justify-content: space-between;
    padding-top: 61px;
  }

  .news_part{
    width: 255px;
    height: 315px;
    background-color: #FFFFFF;
  }

  .news_word{
    display: flex;
    justify-content: center;
    padding-top: 11px;
  }

  .news_literal{
    color: #376C83;
    width: 215px;
    height: 70px;
    font-weight: 550;
    font-size: 17px;
    line-height: 23px;
    display: flex;
    align-items: center;
    /* margin: 11px 20px 14px 20px; */
  }

  .down{
    height: 197px;
    background-color: #E8E8E8;
  }

  .bottom_all{
    display: flex;
    padding-top: 57px;
  }

  .gmail{
    display: flex;
  }

  .black_line{
    height: 18px;
  }

  .left_icon{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
  }

  .info_bottom{
    padding-left: 56px;
  }

  #gg{
    width: 18px;
    height: 16px;
    margin-right: 10px;
    margin-top: 3px;
  }

  .more{
    width: 131px;
    height: 42px;
    /* width: 89px;
    height: 22px; */
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .more a:hover{
    width: 131px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #376C83;
    color: #FFFFFF;
  }

  #moall{
    font-size: 16px;
  }

  @media screen and (max-width:960px){
    html {
      background-color: #FFFFFF;
    }

    .bg {
      width: 960px;
    }

    .top{
      /* background-color: #C99101; */
      height: 83px;
    }

    .normal_pic{
      display: none;
    }

    .midum_pic{
      display: flex;
    }

    .title_pic{
      padding-left: 31px;
      padding-top: 16px;
    }

    .nav-list-item-link {
      width: 114.77px;
      height: 60px;
      font-size: 20px;
    }

    .login{
      display: none;
    }

    .pic_introduce{
      background-image: url(img/mid_intr.png);
    }

    /* .nav{
      width: 688px;
    } */

    /* .title_pic{
      width: 50px;
    } */

    /* .carousel{
      width: 960px;
    } */


  }

  @media screen and (max-width:393px){
    /* html {
      background-color: #376C83;
      box-sizing: border-box;
    } */

    .bg {
      width: 393px;
      /* background-color: #376C83; */
      /* background-color: #000000; */
    }

    .hamBar{
      display: flex;
    }

    .title_pic{
      /* padding-left: 34px;
      padding-top: 24px; */
      padding: 0%;
    }

    .midum_pic{
      display: none;
    }

    .top{
      height: 83px;
      display: flex;
      align-items: center;
      padding-left: 110px;
    }

    .nav{
      width: 393px;
      height: 507px;
      /* background-color: #C99101; */
      background-color: #FFFFFF;
      z-index: 5;
      /* display: flex;
      align-items: center;
      justify-content: center;
      align-items: center; */
      display: none;
      /* transform:translateY(100%); */
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      /* bottom: 0; */
    }

    .nav-list{
      flex-direction: column;
      margin-top: 57px;
    }

    .nav-list-item-link {
      width: 393px;
      height: 75px;
      font-size: 16px;
      /* display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #000000;
      text-align: left;
      font-family: Arial;
      text-align: center;
      font-weight: 400; */
    }

    #cilcking{
      /* box-shadow: 0 5px #376C83; */
      /* padding-bottom:1px; */
      border: 0;
      /* background-color: #FFFFFF; */
      box-shadow : 0px -2px 0px #aaa;
      
    }

    .small_pic{
      display: flex;
    }


/* 
    .hamBar :checked ~ .nav{
      width: 200px;
    } */

    label{
      display: block;
      }
      #burger:checked + nav{
      display:block;
      }



  }