html {
    /* background-color: #000000; */
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* padding-left: 160px;
    padding-right: 160px; */
    /* background-color: #376C83; */
    /* background-image: url(img/trans_bg.png); */
    margin: 0 auto;
    width: 1440px;
    /* width: auto; */
  }

  .bg_all{
    /* background-color: #C99101; */
    background-image: url(main_img/trans_bg.png);
    /* width: 1440px; */
    margin: 0 auto;
  }

  .bg {
    /* width: 1440px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1; */
    /* background-color: #376C83; */
  }

  .hamBar{
    padding-right: 21px;
    display: none;
    align-items: center;
    text-decoration: none;
    color: #376C83;
    z-index: 10;
  }

  .top{
    height: 112px;
    /* color: #FFFFFF; */
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    /* padding-top: 28px;
    padding-left: 93px; */
  }

  .midum_pic{
    display: none;
  }

  .small_pic{
    display: none;
  }

  .title_pic{
    padding-left: 34px;
    padding-top: 24px;
  }

  .img{
    display: block;
    max-width: 100%;
  }

  /* .fix_width{
    width: 1204px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
  } */

  .nav{
    align-items: end;
    /* position: fixed; */
    /* display: flex;
    justify-content: flex-end; */
    margin-left: 88px;
    
  }

  .nav-list {
    display: flex;
    /* padding-left: 93px; */
    margin: 0;
    padding: 0;
    
  }
  
  .nav-list-item {
    list-style: none;
    /* padding: 15px; */

  }
  
  .nav-list-item-link {
    width: 126px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: block; */
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    text-align: left;
    font-family: Arial;
    text-align: center;
    font-weight: 400;
  }

  nav ul li a:hover {
    color: white;
    /* width: 126px;
    height: 60px; */
    /* margin: 0 5px 0 5px; */
    background-color: #85b8b9;
  }

  #cilcking{
    /* box-shadow: 0 5px #376C83; */
    /* padding-bottom:1px; */
    border-bottom:5px #376C83 solid;
    
  }

  #burger{
    display: none;
  }

  .login{
    font-size: 24px;
    color: #000000;
    padding: 15px;
    display: flex;
    align-items: end;
  }

  .carousel-control-prev{
    justify-content: left;
  }

  .carousel-control-prev-icon{
    background-image: url(main_img/🦆\ icon\ _arrow\ ios\ back_.png);
    width: 84.31px;
    height: 82.16px;

  }
  
  .carousel-control-next{
    justify-content: right;
  }

  .carousel-control-next-icon{
    background-image: url(main_img/🦆\ icon\ _arrow\ ios\ forward_.png);
    width: 84.31px;
    height: 82.16px;
  }

  .pic_introduce{
    background-image: url(main_img/intr.png);
    width: auto;
    height: 752px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }

  .gen{
    color: #000000;
  }

  p{
    margin: 0;
  }

  .upper_half{
    font-size: 22px;
    text-align: center;
    padding-bottom: 37px;
  }

  .lower_half{
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 37px;
  }

  #plug_intr{
    font-size: 30px;
    color: #C99101;
    font-weight: 600;
    align-content: center;
    padding-bottom: 10px;
  }
  
  .blue{
    /* background-image: url(img/blue_rect.png); */
    height: 251px;
    width: 1440px;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
  }

  .rect{
    width: 911px;
    height: 111px;
    display: flex;
    justify-content: space-between;
  }

  .square{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .word{
    padding-top: 28px;
    color: #FFFFFF;
  }

  .serve_word{
    width: 227px;
    height: 64px;
    color: #000000;
    font-size: 36px;
    padding-bottom: 10px;
    font-weight: 400;
    margin-bottom: 59px;

  }

  .fix{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blue_line{
    width: 227px;
    height: 5px;
    background-color: #376C83;
  }

  .part2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 203px;
  }

  .four_item{
    display: flex;
    width: 1151px;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }

  .more{
    margin-top: 50px;
  }

  .part{
    width: 255px;
    height: 378px;
    background-color: #FFFFFF;
    box-shadow : 0px 7px 5px 0px #aaa;
    
  }

  .blue_title{
    font-size: 24px;
    color: #376C83;
  }

  .small_word{
    font-size: 12px;
    color: #000000;
  }

  .guest_word{
    width: 337px;
    height: 64px;
    color: #000000;
    font-size: 36px;
    padding-bottom: 10px;
    font-weight: 400;
  }

  #change{
    width: 337px;
  }

  /* .serve_item{
    background-color: #C99101;
  } */

  .plug-in_development{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 136px;
    /* background-color: transparent; */
  }

  .small_plug-in_development{
    display: none;
  }

  .digital_title{
    font-size: 32px;
  }

  .process{
    display: flex;
  }

  .process_text{
    padding-top: 92px;
  }

  .left_bottom{
    display: flex;
    margin-top: 30px;
  }

  .title_1{
    font-size: 20px;
    color: #376C83;
  }

  .text_1{
    font-size: 16px;
  }

  .left_word{
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 11px;
  }

  .robot{
    z-index: 2;
  }

  .blue_and_pic{
    z-index: 1;
    margin-top: -50px;
    position: relative;
  }

  #part2{
    position: absolute;
    z-index: 10;
    margin-left: 200px;
    padding: 0;
    color: #FFFFFF;
    /* width: 499px; */
    /* margin-top: -200px; */
  }

  #change_white{
    color: #FFFFFF;
  }

  .video{
    /* padding-top: 83px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    justify-items: center; */
    align-items: center;
    padding-top: 83px;
  }

  .yt_video{
    width: 774px;
    height: 489px;
    background-color: #000000;
    margin-top: 45px;
  }

  /* .serve_word{
    margin-bottom: 61px;
  } */

  .four_item{
    margin-top: 61px;
  }


  .news{
    background-image: url(main_img/new.png);
    height: 664px;
    margin-top: 83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .news_pic{
    background-image: url(main_img/Rectangle\ 11.png);
    Width: 255px;
    Height: 220px;
  }

  
  .connect_news{
    width: 1180px;
    display: flex;
    justify-content: space-between;
    padding-top: 61px;
  }

  .news_part{
    width: 255px;
    height: 315px;
    background-color: #FFFFFF;
    box-shadow : 0px 5px 8px 0px #3f3f3f;
  }

  .news_word{
    display: flex;
    justify-content: center;
    padding-top: 11px;
  }

  .news_literal{
    color: #376C83;
    width: 215px;
    height: 70px;
    font-weight: 550;
    font-size: 17px;
    line-height: 23px;
    display: flex;
    align-items: center;
    /* margin: 11px 20px 14px 20px; */
    font-family: 'Noto Sans';
    line-height: 23px;
  }

  .down{
    height: 197px;
    background-color: #E8E8E8;
  }

  .bottom_all{
    display: flex;
    padding-top: 57px;
  }

  .gmail{
    display: flex;
  }

  .black_line{
    height: 18px;
  }

  .left_icon{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
  }

  .info_bottom{
    padding-left: 56px;
  }

  #gg{
    width: 18px;
    height: 16px;
    margin-right: 10px;
    margin-top: 3px;
  }

  .more{
    width: 131px;
    height: 42px;
    /* width: 89px;
    height: 22px; */
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .more a:hover{
    width: 131px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #376C83;
    color: #FFFFFF;
  }

  #moall{
    font-size: 16px;
  }

  #mid_blue{
    display: none;
  }

  .small_down{
    display: none;
  }

  #small_date{
    display: none;
  }

  @media screen and (max-width:960px){
    html {
      background-color: #FFFFFF;
    }

    body{
      width: 960px;  
    }

    .bg_all{
      /* background-color: #C99101; */
      background-image: url(main_img/trans_bg.png);
      width: 960px;
    }

    /* .bg {
      width: 960px;
    } */

    .top{
      /* background-color: #C99101; */
      height: 83px;
    }

    .nav{
      margin-left: 0;
      margin-right: 42px;
    }

    .normal_pic{
      display: none;
    }

    .midum_pic{
      display: flex;
    }

    .title_pic{
      padding-left: 31px;
      padding-top: 16px;
    }

    .nav-list-item-link {
      width: 114.77px;
      height: 60px;
      font-size: 20px;
    }

    .login{
      display: none;
    }

    .pic_introduce{
      background-image: url(main_img/mid_intr.png);
      /* width: 960px; */
      height: 501.66px;
    }

    #plug_intr{
      font-size: 22px;
      padding-bottom: 6px;
    }

    /* .blue{
      width: 680px;
      height: 112.43px;
    } */

    /* p{
      font-size: 18px;
    } */

    .part2{
      padding-top: 159px;
    }

    .upper_half{
      margin-top: 90px;
      padding-bottom: 22.14px;
    }

    .lower_half{
      padding-top: 0;
    }

    .blue{
      padding: 0;
    }

    .rect{
      width: 680px;
    }

    .word{
      font-size: 18px;
      text-align: center;
    }

    .up_hr_img{
      display: none;
    }

    .up_hr{
      display: flex;
      width: 540.35px;
      margin: 0;
      margin-bottom: 21px;
    }

    .square_pic{
      width: 15%;
    }

    .word{
      padding-top: 23px;
    }

    .four_item{
      width: 859px;
    }

    /* .part2{
      height: 531px;
    } */

    .part{
      width: 196px;
      height: 291px;
    }

    .part_pic{
      width: 196.31px;
      height: 187.84px;
    }

    .more{
      margin: 67px;
    }

    .process_text{
      padding-right: 53px;

    }

    .blue_and_pic{
      display: none;
    }

    #mid_blue{
      display: flex;
    }

    #part2{
      margin-left: 69px;
    }


    .video{
      padding-top: 119px;
    }

    .serve_word{
      margin-bottom: 0px;
    }

    .news{
      background-image: url(main_img/mid_down.png);
      height: 445.9px;
      margin-top: 93.1px;
    }

    .connect_news{
      width: 818px;
    }

    .news_part{
      width: 197px;
      height: 243px;
    }

    .news_pic{
      background-image: url(main_img/mid_news.png);
      Width: 197px;
      Height: 169.7px;
    }

    .news_literal{
      width: 165.25px;
      /* height: 54px; */
      font-size: 16px;
      /* text-overflow:ellipsis; */
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }

    #mid_news_literal{
      display: flex;
      align-items: center;
    }

    .news_word{
      /* width: 165.25px; */
      padding: 3px;
      margin: auto;
    }

    .down{
      height: 175px;
    }

    .bottom_all{
      padding-top: 29px;
      padding-left: 40px;
    }


    hr{
      border: 1px solid black;
      margin: 8px 0;
    }

    .black_line{
      display: none;
    }

    .bottom_word{
      width: 671px;
      height: 116px;
      padding-left: 40px;
    }

    .info_bottom{
      padding: 0;
      height: 64px;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .small_down{
      display: flex;
    }
    




  }

  @media screen and (max-width:394px){
    /* html {
      background-color: #376C83;
      box-sizing: border-box;
    } */

    body{
      width: 393px;
    }

    .bg_all{
      /* background-color: #C99101; */
      background-image: url(main_img/small_bg.png);
      width: 393px;
    }

    .bg {
      width: 393px;
      /* background-color: #376C83; */
      /* background-color: #000000; */
    }

    .hamBar{
      display: flex;
    }

    .title_pic{
      /* padding-left: 34px;
      padding-top: 24px; */
      padding: 0%;
    }

    .midum_pic{
      display: none;
    }

    .top{
      height: 83px;
      display: flex;
      align-items: center;
      padding-left: 110px;
    }

    .nav{
      width: 393px;
      height: 507px;
      /* background-color: #C99101; */
      background-color: #FFFFFF;
      z-index: 5;
      /* display: flex;
      align-items: center;
      justify-content: center;
      align-items: center; */
      display: none;
      /* transform:translateY(100%); */
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      /* bottom: 0; */
    }

    .nav-list{
      flex-direction: column;
      margin-top: 57px;
    }

    .nav-list-item-link {
      width: 393px;
      height: 75px;
      font-size: 16px;
      /* display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #000000;
      text-align: left;
      font-family: Arial;
      text-align: center;
      font-weight: 400; */
    }

    #cilcking{
      /* box-shadow: 0 5px #376C83; */
      /* padding-bottom:1px; */
      border: 0;
      /* background-color: #FFFFFF; */
      box-shadow : 0px -2px 5px -2px #aaa;
      
    }

    .small_pic{
      display: flex;
    }


/* 
    .hamBar :checked ~ .nav{
      width: 200px;
    } */

    label{
      display: block;
      }
      #burger:checked + nav{
      display:block;
      }

      .pic_introduce{
        background-image: url(main_img/small_intr.png);
        height: 555px;
        /* justify-content: flex-start; */
      }

      .gen{
        font-size: 12px;
      }

      .plug_intr{
        font-size: 16px;
      }

      .up_hr_img{
        display: none;
      }

      .up_hr{
        border: 1px gray solid;
        width: 272px;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 13px;
      }

      .upper_half{
        /* margin-top: 59.45px; */
        padding: 0;
        margin: 0;
      }

      .lower_half{
        padding: 0;
      }

      .blue{
        width: 190px;
        height: 236px;
        /* display: flex;
        flex-direction: column; */
      }

      .rect{
        width: 190px;
        height: 236px;
        flex-direction: column;
      }

      .three_line{
        display: none;
      }

      .word{
        padding-top: 12px;
      }

      .square{
        padding-bottom: 24px;
      }

      .lower_half{
        margin-bottom: 38.18px;
      }

      .part2{
        padding-top: 53px;
      }
      
      .four_item{
        flex-direction: column;
      }

      #part_1{
        display: none;
      }

      .four_item{
        height: 398px;
        display: flex;
        justify-content: space-between;
        margin-top: 25px;        
      }

      .part{
        /* width: 319px;
        height: 125px; */
        height: 398px;
        display: flex;
        flex-direction: row;
      }
      
      .part_pic{
        width: 98px;
        height: 98px;
      }

      .small_part{
        margin-left: 10px;
      }

      .part{
        width: 319px;
        height: 125px;
        box-shadow : 2px 3px 5px 0px #aaa;
        align-items: center;
        /* justify-content: center; */
        padding-left: 13px;
      }

      .more{
        margin: 0;
        margin-top: 25px;
      }

      .robot{
        display: none;
      }

      #mid_blue{
        display: none;
      }

      .make_process{
        /* position: static; */
        width: 329px;
        height: 192.87px;
        /* z-index: 0; */
        /* background-color: #C99101; */
      }

      .plug-in_development{
        display: none;
      }

      .small_plug-in_development{
        margin: 0;
        margin-top: 61.22px;
        display: flex;
        flex-direction: column;
        width: 393px;
        /* justify-content: center; */
        align-items: center;
      }

      .small_process{
        width: 361px;
        height: 189px;
        background-color: #376C83;
        margin-bottom: 14px;
        display: flex;
        /* align-items: center; */
        justify-content: center;
        border-radius: 22px;
        box-shadow: 0px 2px 5px 0px #aaa;
        margin-top: 17px;

      }

      #branch{
        height: 217px;
      }

      .process_part{
        padding-bottom: 6px;
      }

      .small_three_icon{
        width: 22.03px;
        height: 108.63px;
        background-image: url(main_img/small_three_icon.png);
      }

      .small_adjust{
        width: 329px;
        height: 192.87px;
      }
      
      .left_bottom{
        margin: 0;
      }

      .left_word{
        height: 123px;
      }

      .title_1{
        font-size: 16px;
        color: #F5DE6F;
      }

      .text_1{
        font-size: 12px;
        color: #FFFFFF;
      }

      #change_white{
        color: #F5DE6F;
      }

      .digital_title{
        font-size: 20px;
        color: #FFFFFF;
        margin-top: 10px;
      }

      .guest{
        font-size: 20px;
        font-weight: 600;
      }

      #change{
        width: 187px;
      }

      .process_icon{
        padding-top: 5px;
      }

      .video{
        width: 393px;
        padding-top: 14px;
      }

      .yt_video{
        margin-top: 25px;
        width: 265.92px;
        height: 168.01px;
      }

      .fix{
        font-size: 20px;
        font-weight: 600;
      }

      .blue_line{
        width: 113px;
      }

      .news{
        background-image: url(main_img/samll_new.png);
        width: 393px;
        height: 527px;
        margin-top: 23px;
      }

      .connect_news{
        display: flex;
        flex-direction: column;
        width: 319px;
        height: 366px;
      }

      #small_none{
        display: none;
      }

      .news_part{
        width: 319px;
        height: 114px;
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        padding-left: 12px;
      }

      .news_pic{
        width: 90px;
        height: 90px;
      }

      .news_word{
        padding: 0;
        margin: 12px 12px;
        display: flex;
        flex-direction: column;
      }

      .news_literal{
        width: 193px;
      }

      #small_date{
        height: 16px;
        font-size: 10px;
        color: #000000;
      }

      /* .serve_word{
        padding: 0;
        width: 75px;
        height: 33px;
      } */

      .connect_news{
        padding: 0;
        padding-top: 25px;
        width: 319px;
        /* height: 366px; */
        display: flex;
        justify-content: space-between;
      }

      .down{
        width: 393px;
        height: 246px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

      }

      /* .small_group{
        display: flex;
        flex-direction: column;
        width: 346px;
        height: 208px;
      } */

      .info_bottom{
        /* width: 217px; */
        height: 64px;
        text-align: center;
        /* margin: auto; */
        /* margin-bottom: 22px; */
        justify-content: flex-start;
      }

      .gmail{
        width: 300px;
        /* width: auto; */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 10px;
        margin: auto;
      }


      .left_icon{
        width: 346px;
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .small_down{
        width: 346px;
      }

      .small_icon{
        padding-right: 20px;
      }

      .bottom_all{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 348px;
        height: 208px;

      }

      .bottom_word{
        padding: 0;
        width: 346px;
        height: 208px;
        text-align: center;
      }

      .small_down{
        display: flex;
      }

      .small_goai{
        height: 54px;
        width: 168px;
      }

      .small_info_bottom{
        height: 64px;
      }

      .bottom_icon{
        margin-bottom: 8.91px;
      }

      #small_down_word{
        margin-top: 9px;
      }


  }