.list{  background-color: #cccccc;       /*容器*/
    display: flex;
    justify-content: center;
    height: 714px;
    /*margin:0px auto; /*按鈕置中*/
}



.item-a{  /*background-color: #ccfaff8d;   /*項目*/
    background-image: url('圖片/1440/應用領域/半導體產業.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;


    flex: none;
    width: 50%;
}
.item-b{  /*background-color: #ffccccb3;   /*項目*/
    background-image: url('圖片/1440/應用領域/製造業_底圖.png');
    background-repeat: no-repeat;/**/
    background-position: center center;
    background-size: cover;

    flex: none;
    width: 50%;
}


.box-a{ /*background-color: #cce9ff;/**/
    margin-top: 203px;
    margin-left: 82px;
    margin-right: 68px;

    /*width: 570px;/**/
}
.box-b{ /*background-color: #cce9ff;/**/
    margin-top: 203px;
    margin-left: 68px;
    margin-right: 82px;

    /*width: 570px;/**/
}


.box-word-a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #00B1C4;

    margin-bottom: 26px;
}
.box-word-b{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
}



@media (max-width: 961px){
    .list{  background-color: #cccccc;       /*容器*/
        display: flex;
        justify-content: center;
        height: 714px;
        width: 961px;
    
    
        margin:0px auto; /*按鈕置中*/
    }
    .item-a{  
        flex: none;
        width: 50%;
    }
    .item-b{  
        flex: none;
        width: 50%;
    }
    
    .box-a{ /*background-color: #cce9ff;/**/
        margin-top: 166px;
        margin-left: 82px;
        margin-right: 54px;
    }
    .box-b{ /*background-color: #cce9ff;*/
        margin-top: 166px;
        margin-left: 54px;
        margin-right: 82px;
    }
    
    
    .box-word-a{
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        color: #00B1C4;
    
        margin-bottom: 26px;
    }
    .box-word-b{
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
    
        line-height: 26px;
    }
}


@media (max-width: 394px){ /* 手機 */
    .list{  background-color: #cccccc;       /*容器*/
        display: block;/**/
        justify-content: center;
        height: 903px;
        width: 100%;
    }
    .item-a{  background-color: #ccfaff8d;   /*項目*/
        background-image: url('圖片/1440/應用領域/半導體產業.png');
        /*flex: none;/**/
        width: 393px;
        
        
        height: 470px; 
    
        margin: 0px auto; /*按鈕置中*/
        margin-top: 86px;/**/
    }
    .item-b{  background-color: #ffccccb3;   /*項目*/
        width: 393px;
        
    
        height: 434px;
    
        margin: 0px auto; /*按鈕置中*/
    }
    
    
    .box-a{ /*background-color: #cce9ff;/**/
        height: 351px;
        width: 323px;
        
        margin: 0px auto; /*按鈕置中*/
    
        padding-top: 39px;/**/
    }
    .box-b{ /*background-color: #cce9ff;/**/
        height: 335px;
        width: 323px;
    
        margin: 0px auto; /*按鈕置中*/
        
        padding-top: 39px;/**/
    }
    
    
    .box-word-a{
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #00B1C4;
    
        margin-bottom: 12px;
    }
    .box-word-b{
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
    
        line-height: 24px;
    }
}