.list{  background-color:  #F5F5F5;       /*容器*/
    display: flex;
    justify-content: center; /*水平置中*/
}
.box{  /*background-color: #ccfaff8d;   /*項目*/
    flex: none;
    width: 80%;
    margin-top: 203px; margin-bottom: 117px;
    margin-left: 297px; margin-right: 297px;
    height: 810px;
}
.box-a{  /*background-color: #4464f48d;   /*項目*/
    height: 378px;
    margin-bottom: 54px;

    display: flex;
    justify-content: center; /*水平置中*/
}
.box-b{  /*background-color: #44f44d8d;   /*項目*/
    height: 378px;
    margin-bottom: 117px;

    display: flex;
    justify-content: center; /*水平置中*/
}


.card-phone{
    display: none;
}

.card{ background-color: #FFFFFF;/**/
    flex: none;

    height: 378px; width: 255px;
    margin-right: 20px; margin-left: 20px; margin-bottom: 54px;

    box-shadow: 1px 3px 12px rgb(170, 170, 170);
}
.card-pic{ /*background-color: #fff8cc;*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 244px;
}
.pic-sh{
    background-image: url('圖片/1440/服務項目/虛擬測量.png');
}
.pic-yi{
    background-image: url('圖片/1440/服務項目/異常偵測.png');
}
.pic-gon{
    background-image: url('圖片/1440/服務項目/根因分析.png');
}
.pic-chi{
    background-image: url('圖片/1440/服務項目/異常偵測.png');
}
.pic-gou{
    background-image: url('圖片/1440/服務項目/根因分析.png');
}
.pic-yu{
    background-image: url('圖片/1440/服務項目/預防性保養.png');
}




.card-word-a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #376C83;

    margin-left: 16px; margin-top: -10px; margin-bottom: 7px;
}
.word-a-margin{
    margin-top: 18.5px;
}
.card-word-b{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #000000;

    margin-left: 16px; 
}

@media (max-width: 961px){
    .list{  
        display: flex;
        justify-content: center; /*水平置中*/
    }
    .box{ 
        flex: none;
        width: 80%;
        margin-top: 166px; margin-bottom: 117px;
        margin-left: 297px; margin-right: 297px;
        height: 613px;
    }
    .box-a{  
        height: 291px;
        margin-bottom: 31px;
    
        display: flex;
        justify-content: center; /*水平置中*/
    }
    .box-b{
        height: 291px;
    
        display: flex;
        justify-content: center; /*水平置中*/
    }
    
    
    .card{ 
        flex: none;
    
        height: 291px; width: 196px;
        margin-right: 14px; margin-left: 14px; 
    
        box-shadow: 1px 3px 12px rgb(170, 170, 170);
    }
    .card-pic{ 
        height: 188px;
    }
    .card-word-a{
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 26px;
        color: #376C83;
    
        margin-left: 12px; margin-top: -14px; margin-bottom: 3.4px;
    }
    .word-a-margin{
        margin-top: 11px;
    }
    .card-word-b{
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
        
        color: #000000;

        margin-left: 12px;
        margin-right: 12px;
    }
}



@media (max-width: 394px){
    .box{ 
        flex: none;
        width: 100%;
        margin-top: 0px; margin-bottom: 0px;
        margin-left: 0px; margin-right: 0px;
        height: 810px;
    }

    .list{ 
        display: flex;
        justify-content: center; /*水平置中*/
    }
    .box-a{  /*background-color: #fff;/**/
        height: 845px; width: 100%;
        margin-top: 76px;
        padding-bottom: 29px;
    
        display: block;
        justify-content: center; /*水平置中*/
    }
    .box-b{
        display: none;
    }
    

    .card-phone{
        display: block;
    }

    
    .card{
        flex: none;
        height: 126px; width: 319px;
        box-shadow: 1px 3px 12px rgb(170, 170, 170);
        display: flex;
        margin:0px auto; /*按鈕置中*/
        margin-bottom: 18px;
    }
    .card-pic{ 
        height: 98px; width: 98px;
    
        margin-top: 14px;
        margin-left: 14px;
    }
    
    .card-word{
        margin-left: 10px;
    }
    .card-word-a{
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #376C83;
        
        margin-top: 16px; margin-bottom: 6px;
    }
    .card-word-b{        
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-align: justify;
        
        color: #000000; 
    }
}