.nav{
    display: flex;
    justify-content: flex-end;
}

.version-phone{
    display: none;
}

.back{ /*background-color: #ffcccc;/**/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('圖片/1440/個別服務項目/icon_back.png');


    margin-top: 28px;
    margin-left: 34px;
    width: 51px; height: 51px;

    position: fixed;
    z-index: 1;
}



.list{  background-color:  #F5F5F5;;       /*容器*/
    position: relative;
    
    display: flex;
    justify-content: center; /*水平置中*/
    height: 641px;
}
.box-a{  /*background-color: #ccfaff8d;   /*項目*/
    flex: none;
    width: 80%;
    margin-top: 203px;  margin-bottom: 48px;
    margin-left: 297px; margin-right: 297px;

    display: flex;
    justify-content: center; /*水平置中*/
}
.card{ /*background-color: #ffcccc;/**/
    flex: none;

    height: 390px; width: 845px;
    margin-right: 20px; margin-left: 20px; margin-bottom: 54px;

    display: flex;
}
.card-pic{ /*background-color: #fff8cc;/**/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('圖片/1440/個別服務項目/虛擬測量.png');
    
    height: 390px; width: 390px;
}


.card-word{ /*background-color: #ffc8c8;/**/
    margin-left: 56px;
    height: 200px;/**/
    width: 360px;/**/
}
.card-word-a{    
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #376C83;

    margin-bottom: 28px;
}
.card-word-b{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #000000;
}

.card-btn{
    margin-left: auto; /*靠右*/
    margin-top: auto;  /*靠下*/

    width: 131px; height: 42px; 
    border: 1px solid #000000;

    display: flex;
}
.card-btn-word{    /*background-color: #fff8cc;/**/
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;

    margin-left: 20px;
    margin-top: 10px;
}
.card-btn-pic{  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('圖片/1440/個別服務項目/icon_arrow.png');
    


    width: 21px;
    height: 21px;
    margin-top: 10px;
    margin-right: 15px;
}





@media (max-width: 961px){ 
    .back{ /*background-color: #ffcccc;*/
        margin-top: 28px;
        margin-left: 34px;
        width: 51px; height: 51px;
    
        position: fixed;
        z-index: 1;
    }
    
    
    
    .list{  /*background-color: #cccccc;       /*容器*/
        position: relative;
        
        display: flex;
        justify-content: center; /*水平置中*/
        height: 641px;
        width: 960px;
    }
    .box-a{  /*background-color: #ccfaff8d;   /*項目*/
        flex: none;
        width: 80%;
        margin-top: 203px;  margin-bottom: 48px;
        margin-left: 297px; margin-right: 297px;
    
        display: flex;
        justify-content: center; /*水平置中*/
    }
    .card{ /*background-color: #ffcccc;/**/
        flex: none;
    
        height: 312px; width: 674px;
        margin-right: 20px; margin-left: 20px; margin-bottom: 54px;
    
        display: flex;
    }
    .card-pic{ 
        height: 312px; width: 312px;
    }
    
    
    .card-word{ /*background-color: #fff;/**/
        margin-left: 33px;
        width: 450px;
    }
    .card-word-a{    
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 44px;
        color: #376C83;
    
        margin-top: 20px;
        margin-bottom: 28px;
    }
    .card-word-b{
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #000000;

        line-height: 35px;
    }
    
    .card-btn{
        margin-left: auto; /*靠右*/
        margin-top: auto;  /*靠下*/
    
        width: 131px; height: 42px; 
        border: 1px solid #000000;
    
        display: flex;
    }
    .card-btn-word{   
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
    
        margin-left: 10px;
        margin-top: 10px;
    }
    .card-btn-pic{ 
        width: 21px;
        height: 21px;
        margin-top: 10px;
        margin-right: 5px;
    }
}






@media(max-width: 394px){
    .version-phone{
        display: block;
    }

    .version-web{
        display: none;
    }


    .back{ 
        margin-top: 19px;
        margin-left: 21px;
        width: 36px; height: 36px;
    
        position: fixed;
        z-index: 1;
    }
    
    
    
    .list{  /*background-color: #cccccc;       /*容器*/
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-image: url('圖片/394/個別服務項目/個別服務項目底圖.png');


        position: relative;
        
        height: 510px;
        width: 393px;/**/
    
        display: flex;
        justify-content: center; /*水平置中*/
    }
    .box-a{  /*background-color: #ccfaff8d;   /*項目*/
        flex: none;
        width: 322px; height: 382.78px;
        margin-top: 97px;  margin-bottom: 31.22px;
    
        display: block; /**/
        /*justify-content: center; /*水平置中*/
    }
    
    .card-pic{ 
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-image: url('圖片/394/個別服務項目/虛擬測量.png');
        


        height: 163px; width: 322px;
    
        margin-bottom: 83px;
    }
    
    
    .card-word{
        width: 322px;
        height: 64px;
        margin-left: 0px;

        margin-bottom: 40px;
        
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #000000;  
    }
    
    .card-btn{
        margin: auto; /*靠右*/
        margin-top: auto;  /*靠下*/
    
        width: 91px; height: 32.78px; 
        border: 1px solid #000000;
    
        display: flex;
    }
    .card-btn-word{   
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
        color: #000000;
    
        margin-left: 10px;
        margin-top: 8px;
    }
    .card-btn-pic{   
        width: 16.8px;
        height: 16.8px;
        margin-top: 8px;
        margin-right: 8px;
    }
}